body
{
    background-color: #fff;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    min-height: 200vh;
}

            /*NAVIGATION BAR*/

header
{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
}

header.sticky
{
    padding: 5px 100px;
    background: #000;
}

header .logo
{
    position: relative;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    font-size: 4em;
    text-transform: uppercase;
    transition: 0.6s;
}


header ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}

header ul li
{
    position: relative;
    list-style: none;
}

header ul li a
{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
    font-weight: 500;
    transform: 0.6;
}

.banner
{
    position: flex;
    width: 100%;
    height: 100px;
}


          /* ZAMÓW ONLINE*/

.container
{
    width: 100%;
    height: 400px;
    background-image: url(jpg/05910aba-c9f8-11ea-8153-2a958b7bdd2d_menu__1_.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.9;

}

.bcontainer
{
    margin-left: auto;
    margin-right: auto;
    padding-top: 160px; 
    width: 200px;
}

input[type=button]
{
    
    width: 200px;
    height: 60px;
    border-radius: 25px;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
    border-style: none;
    background-color: rgba(205, 184, 0, 0.8);
    background: rgba(205, 184, 0, 0.8);
    color: #000;
   
}

input[type=button]:hover
{
    cursor: pointer; 
    background-color: #ffff00;
    transition: 0.2s ease-in-out;
   
}

       /*LOGO TOP ŚRODKOWE*/

.section-logo
{
    width: 1000px;
    height: 200px;
    border-bottom: 2px solid #333333;
    margin-left: auto;
    margin-right: auto;
}

.logo2
{
    color: #000; 
    font-size: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.section-logo h1
{
    font-size: 40px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Chango', cursive;
    margin-top: -30px;
}

    /* BURGERS ARTICLES*/

.content-container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.burger-img
{
    width: 400px;
    float: left;
    padding-top: 60px;
}

.burger-text
{
    width: 600px;
    float: left;
    text-align: right;
}

.burger-black-img
{
    width: 400px;
    float: right;
    padding-top: 60px;
}

.burger-black-text
{
    float: right;
    width: 600px;
}

section h1
{
    font-size: 30px;
    letter-spacing: 2px;
}

            /*LUNCH*/

.lunch-container
{
    width: 100%;
    height: 250px;
    background-image: url(jpg/burgery-dwa1110x500.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    opacity: 0.9;
}

.lunch
{
    width: 1000px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 40px;
    letter-spacing: 1px;
}

.lunch-menu-container
{
    width: 1000px;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.lunch-menu-meat
{
    width: 450px;
    height: 350px;
    background-color: #e6e6e6;
    float: left;
    border-radius: 20px;
}

.lunch-menu-wege
{
    width: 450px;
    height: 350px;
    background-color: #e6e6e6;
    float: right;
    border-radius: 20px;
}

.lunch-header
{
    width: 410px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    background-color: #000;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 20px;
    border-radius: 10px;
}

.lunch-price
{
    font-size: 36px;
    font-weight: 700;
}

.lunch-info
{
    padding: 10px;
    font-size: 14px;
}

.lunch-info p
{
    margin: 0;
}
    /*MENU*/

.menu-container
{
    width: 100%;
    height: 250px;
    background-image: url(jpg/burgery-trzy.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    opacity: 0.9;
}

.menu-picture
{
    width: 1000px;
    margin: 0 auto;
    display: block;
    padding-top: 40px;
    transition: 0.2s ease-in-out;
}

.menu-picture img
{
    width: 60%;
}

    /*CONTACT*/

.contact-container
{
    width: 100%;
    height: 250px;
    background-image: url(jpg/burgery%20cztery.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    opacity: 0.9;
}

.contact-data
{
    width: 350px;
    height: 250px;
    float: left;
    background-color: #f2f2f2;
    text-align: center;
}

.contact-data p
{
    margin: 10px;
    font-size: 18px;
}

.contact-map
{
    float: right;
}

.contact-container-bottom
{
    width: 100%;
    height: 350px;
    background-image: url(jpg/burger%205.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    opacity: 0.9;
}
    /*FOOTER*/

footer
{
    width: 100%;
    background-color: #000000;
    height: 270px;
    float: left;
}

#media a
{
    color: #fff;
}

#fb
{
    width: 30%;
    height: 160px;
    float: left;
    text-align: start;
    padding-top: 70px;
}

#section-logo2
{
    width: 40%;
    height: 230px;
    float: left;
}

#logo3
{
    color: #fff; 
    font-size: 100px;
    height: 100px;
    padding-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#section-logo2 h1
{
    font-size: 32px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Chango', cursive;
    color: #fff;
    display: block;
}

#ig
{
    width: 30%;
    height: 160px;
    float: left;
    text-align:end;
    padding-top: 70px;
}

footer p
{
    width: 100%;
    height: 20px;
    color: #b3b3b3;
    text-align: center;
    font-size: 12px;
}